:root {
  --text-primary: rgb(241, 241, 241);
  --text-secondary: rgb(210, 213, 218);
  --input-background-color: rgb(40, 40, 40);
  --text-color: rgb(241, 241, 241);
  --input-border-color: rgb(100, 100, 100);
  --btn-background-color: rgb(180, 180, 180);
  --btn-hover-background-color: rgb(120, 120, 120);
  --page-container-background-color: rgb(50, 50, 50);

  --tab-background-color: rgb(30, 30, 30);

  --input-shadow: rgba(158, 158, 158, 0.25);

  --R_SMD_X: 25px;
}

body,
html {
  background-color: rgb(20, 20, 20);
  color: var(--text-color);

  tab-size: 4;
  font-family: ui-sans-serif, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-variation-settings: normal;
}

.page_container {
  background-color: var(--page-container-background-color);

  border-radius: 9px;

  max-width: 95%;
  margin: 16px auto;
}

.page_box {
  padding: 16px 16px;
}

._input_area {
  background-color: rgb(70, 70, 70);

  width: 90%;
  min-height: 52px;
  margin: auto;

  border-radius: 20px;
}

/* Navigation bar */

ul.topnav {
  list-style-type: none;
  border-radius: 9px;
  margin: 0 auto;
  max-width: 95%;
  padding: 0;
  overflow: hidden;
  background-color: var(--page-container-background-color);
}

ul.topnav li {float: left;}

ul.topnav li a, .dropbtn {
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active), .dropdown:hover .dropbtn {background-color: rgb(20, 20, 20);}

ul.topnav li a.active {background-color: rgb(41, 144, 59);}

ul.topnav li a.active:hover {background-color: rgb(26, 93, 38);}

ul.topnav li a.dropdown_a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

ul.topnav li.right {float: right;}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--input-background-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px var(--input-shadow);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 510px){
  ul.topnav li.right, 
  ul.topnav li, li.dropdown {float: none;}
}

/* Tabs */
.tab {
  display: flex;
  flex-direction: column;
  margin-top: -16px;
  margin-left: -16px;
  margin-right: -16px;
}

.tab-nav > input[type="radio"] { display: none; }

.tab-content { 
  display: none;
  margin-left: 16px;
  margin-right: 16px; 
}

#content-1:has(~ .tab-nav > #tab-btn-1:checked),
#content-2:has(~ .tab-nav > #tab-btn-2:checked),
#content-3:has(~ .tab-nav > #tab-btn-3:checked) {
  display: block;
}

.tab-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  order: -1;

  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background-color: var(--tab-background-color);
}

.tab-nav > label {
  display: block;
  padding: 0.5rem 1rem;

  text-decoration: none;
  background: 0 0;
  border: 1px solid transparent;
  margin-bottom: -1px;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  -webkit-appearance: button;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.tab-nav > input[type="radio"]:checked + label {
  background-color: var(--page-container-background-color);
  cursor: default;
}

/* field */

.field__group {
  display: flex;
  max-width: 80%;
  padding: 12px 16px;
  margin: 0 auto;
}

.field__input {
  display: block;
  font-size: 1rem;
  background-color: var(--input-background-color);
  color: var(--text-color);
  width: 100%;
  outline: 0;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0 14px;
  padding-top: 0.5rem;
  padding-bottom: 0.375rem;
  margin-left: auto;
  border: 2px solid var(--input-border-color);

}

.field__input:focus {
  outline: 0;
  box-shadow: 0 0 0 0.3rem var(--input-shadow);
}

.field__input::-webkit-search-decoration,
.field__input::-webkit-search-cancel-button,
.field__input::-webkit-search-results-button,
.field__input::-webkit-search-results-decoration,
.field__input::-webkit-outer-spin-button,
.field__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


.field__btn {
  margin-right: auto;

  font-size: 1rem;

  background-color: var(--btn-background-color);

  padding: 0 0.375rem;
  padding-top: 0.5rem;
  padding-bottom: 0.375rem;

  border: 2px solid var(--input-border-color);
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}

.field__label {
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 18px;
  font-weight: bold;
}




.margin_top_px {
  margin-top: 20px;
}
.font_size_17 {
  font-size: 17px;
}
.margin_left_10 {
  margin-left: 10%;
  margin-right: auto;
}

@media screen and (max-width: 510px){ .margin_left_10 { margin-left: auto; } }

/* Таблицы */
table {
  border: 1px solid #ccc;
  border-spacing: 3px;
  border-collapse: collapse;

  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 10px;

  font-size: 18px;
}

td, th{
  border: solid 1px #ccc;
  border-collapse: collapse;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}


/* buttons */

.clear_btn {
  font-size: 16px;
  border: 2px solid var(--input-border-color);
  border-radius: 4px;
}

.btn {
  background-color: var(--btn-background-color);
  border-color: var(--input-border-color);
  text-align: center;
}

.btn:hover { background-color: var(--btn-hover-background-color); }

.btn_div_r_smd {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: calc(var(--R_SMD_X) * 8);
}

button.right { float: right;}
button.left { float: left; }

/* R_SMD */
.R_SMD_contact {
  margin: 20px auto 20px 10%;
  padding: 2px var(--R_SMD_X);
  max-width: calc(var(--R_SMD_X) * 6);
  background-color: silver;
}

.R_SMD_body {
  height: calc(var(--R_SMD_X) * 4 - 4px);
  width: calc(var(--R_SMD_X) * 6);
  background-color: black;
}

.input_r_smd {
  height: calc(var(--R_SMD_X) * 3);
  width: calc(var(--R_SMD_X) * 5);
  background-color: black;
  color: var(--text-color);
  font-family: "Source Code Pro";
  font-size: 52px;
  border: 0px;
  margin: calc(var(--R_SMD_X) * 0.5 - 5px) calc(var(--R_SMD_X) * 0.5 - 1.8px);

  text-align: center;
}

.input_r_smd:focus { outline: 0; }

@media screen and (max-width: 510px){
  .R_SMD_contact {
    margin: 20px auto;
  }
}

/* Медиа-запрос для больших экранов */
@media (min-width: 1200px) {
  .page_container {
    max-width: 1140px;
  }
  ul.topnav {
    max-width: 1140px;
  }
}
@media (min-width: 565px) {
  table {
    margin-left: 10%;
  }
}